@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.playwrite {
  font-family: "Playwrite NO", cursive;
}

* {
  font-family: "Montserrat", sans-serif;
}

a.active {
  text-decoration: underline;
  color: aqua;

}

.button {
  @apply mt-6 bg-indigo-600 hover:bg-indigo-800 text-white  rounded-md cursor-pointer transition
}